<div class="navbar-with-content">

    <app-navbar></app-navbar>

    <div class="w-100 navbar-content">

        <div class="text-bg-primary p-4">

            <button class="me-3 text-white" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar"
                aria-expanded="true" aria-controls="sidebar" style="font-size: 25px; background: none; border: none;">
                <i class="fa-solid fa-quote-left"></i>
            </button>
            <span>Sistema de Control y Seguimiento de Documentos</span>
            
        </div>

        <router-outlet></router-outlet>

    </div>

</div>
