<div style="background-color: #f3f3f4;">
    <div class="container">
        <div class="row vh-100">
            <div class="col align-self-center">
                <div class="mx-auto w-100" style="min-width: 300px; max-width: 450px;">
                    <div class="d-flex justify-content-center">
                        <img class="mx-auto my-3" src="../assets/img/logo.png" alt="logo de aplicacion" width="180"
                            height="130">
                    </div>
                    <h2 class="text-bg-primary text-center p-3 rounded">Control y Seguimiento de Documentos</h2>
                    <h4 class="text-center">Iniciar Sesión</h4>

                    <form class="py-3" (ngSubmit)="login()" [formGroup]="loginForm">
                        <div class="form-floating mb-3">

                            <input type="text" class="form-control" id="usuario" name="usuario"
                                placeholder="name@example.com" formControlName="username" [ngClass]="{
                                    'is-invalid': submited && loginForm.controls['username'].errors
                                }" (keyup)="esconderAlerta()">
                            <label for="usuario">Usuario</label>

                            <div *ngIf="loginForm.controls['username'].hasError('required')" class="invalid-feedback">
                                Este campo es obligatorio
                            </div>
                            <div *ngIf="loginForm.controls['username'].hasError('minlength')" class="invalid-feedback">
                                Este campo debe contener por lo menos cuatro caracteres
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="contrasenia" name="contrasenia"
                                placeholder="Password" formControlName="password" [ngClass]="{
                                    'is-invalid': submited && loginForm.controls['password'].errors
                                }" (keyup)="esconderAlerta()">
                            <label for="contrasenia">Clave</label>

                            <div *ngIf="loginForm.controls['password'].hasError('required')" class="invalid-feedback">
                                Este campo es obligatorio
                            </div>
                            <div *ngIf="loginForm.controls['password'].hasError('pattern')" class="invalid-feedback">
                                Este campo debe contener por lo menos una mayuscula y un simbolo
                            </div>

                        </div>
                        <div class="d-flex flex-column justify-content-center align-items center">
                            <button type="submit" class="btn btn-primary m-auto" style="width: max-content;">Iniciar
                                Sesión</button>
                            <p class="mx-auto my-3">Copyright &copy; 2023</p>
                        </div>
                        <div *ngIf="isUnauthorized" class="alert alert-danger text-center" role="alert">
                            Usuario y/o clave incorrecto
                          </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="spinner" *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>